module.exports={
  ORB_ID:"default",
  //DEV_MODE: true,
  ORB_AUDIO:"USB Audio Device, USB Audio",
  //ORB_AUDIO:"USB PnP Sound Device, USB Audio",
  //ACT_AS_RELAY: false,
  //CONNECT_TO_RELAY: "orbitron.games",
  AUTO_GAME: false,
}
